@use "@/general-styles/variables.scss" as vrb;

.allorders-page {
  padding-bottom: 100px;
}

.action-btn-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.confirm-btn {
  padding: 5px;
  background-color: rgb(135, 254, 0);
  border-radius: 4px;
  border: none;

  svg {
    fill: #fff;
  }
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
}

.category-selector {
  select {
    background-color: #8700d6;
    color: white;
    padding: 12px;
    width: 250px;
    border: none;
    font-size: 19px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);

    outline: none;
  }
}



.category-selector select option {
  padding: 30px;
}

.cancel-btn {
  padding: 5px;
  background-color: red;
  border-radius: 4px;
  border: none;

  svg {
    fill: rgb(54, 247, 0)fff;
  }
}

.status {
  color: #fff;
  text-align: center;
}

.success {
  background-color: green;
}

.accepted {
  border-radius: 2px !important;
  background-color:rgb(0, 255, 0);
}

.canceled {
  background-color: red;
}
