@use "@/general-styles/variables.scss" as vrb;

.allorders-page {
  padding-bottom: 100px;
}

.action-btn-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.confirm-btn {
  padding: 5px;
  background-color: grey;
  border-radius: 4px;
  border: none;

  svg {
    fill: #fff;
  }
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
}

.category-selector {
  select {
    background-color: #093545;
    color: white;
    padding: 12px;
    width: 250px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
}

.category-selector::before {
  content: "\f13a";
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.category-selector select option {
  padding: 30px;
}

.cancel-btn {
  padding: 5px;
  background-color: red;
  border-radius: 4px;
  border: none;

  svg {
    fill: #fff;
  }
}

.status {
  color: #fff;
  text-align: center;
}

.success {
  background-color: green;
}

.accepted {
  background-color: vrb.$secondary;
}

.canceled {
  background-color: red;
}
